<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <form action="login" method="post">
        {% csrf_token %}
        <input type="text" name="uname" id="" placeholder="username"><br>
        <input type="password" name="pwd" id="" placeholder="password"><br>
        <input type="submit" name="" id="">
    </form>
    {% for i in messages%}
    {{i}}
    {%endfor%}
</body>
</html>